{% extends "base.html" %}
{% block content %}
  <form method="post" action="{% url 'authapp:login' %}">
    {% csrf_token %}
  <div class="flex flex-col justify-center font-[sans-serif] sm:h-screen p-4">
    <div class="max-w-md w-full mx-auto border border-gray-300 rounded-2xl p-8">
      <div class="text-center mb-12">
        <p>LiveChat</p>
      </div>
      <form>
        <div class="space-y-3">
          <div>
            <label class="text-gray-800 text-sm mb-2 block">Username</label>
            <input name="username" type="text" class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500" placeholder="Enter username" />
          </div>
          <div>
            <label class="text-gray-800 text-sm mb-2 block">Password</label>
            <input name="password1" type="password" class="text-gray-800 bg-white border border-gray-300 w-full text-sm px-4 py-3 rounded-md outline-blue-500" placeholder="Enter password" />
          </div>
        </div>
        <div class="!mt-8">
          <button type="submit" class="w-full py-3 px-4 text-sm tracking-wider font-semibold rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">
            Login
          </button>
        </div>
        <p class="text-gray-800 text-sm mt-6 text-center">Already have an account? <a href="{% url 'authapp:register' %}" class="text-blue-600 font-semibold hover:underline ml-1">Register here</a></p>
      </form>
    </div>
  </div>
{% endblock %}



