<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" id="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" type="text/css" href="output.css" />

    <title>chatapp</title>
  </head>
  <body>
    <!-- component -->
<!-- This is an example component -->
<div class="container mx-auto shadow-lg rounded-lg">
    <!-- headaer -->
<div class="px-5 py-5 flex justify-between items-center bg-white border-b-2">


  <div class="font-semibold text-2xl">LiveChat App</div>
  
  <div class="w-1/2">
    <input
      type="text"
      name=""
      id=""
      placeholder="search IRL"
      class="rounded-2xl bg-gray-100 py-3 px-5 w-full"
    />
  <!-- current div is  to move next div to right -->
   
  </div>
  <div id="active-user" class="flex items-center space-x-2">
    <!-- Avatar -->
    <div id="user-avatar" class="mr-2">
      {% if user.profile.avatar %}
        <img
        src="{{ user.profile.avatar.url }}"
        class="object-cover h-12 w-12 rounded-full"
        alt="{{ user.username }}"
      />
      {% else %}
        <img src="/media/avatars/default-avatar.jpg" class="object-cover h-12 w-12 rounded-full" alt="Default Avatar" />
      {% endif %}
    </div>
  
    <!-- Username -->
    <div id="authuser" class="{{user.username}} text-gray-700 font-medium ml-1">
      {{ user.username }}
    </div>
  </div>

    <div class="flex justify-end mb-4">
      <form action="{% url 'authapp:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-400 dark:focus:ring-red-700">
          Logout
        </button>
      </form>
    </div>

</div>
<!-- end header -->
<!-- Chatting -->
<div class="flex flex-row justify-between bg-white">
  <!-- chat list -->
  <div class="flex flex-col w-2/5 border-r-2 overflow-y-auto">

    <!-- user list -->
     {% for user in users %}
    <div
      class="flex flex-row py-4 px-2 justify-center items-center border-b-2"
    >
      <div class="w-1/4">
        <img
          src="https://avatar.iran.liara.run/public/8"
          class="object-cover h-12 w-12 rounded-full"
          alt="{{ user.username }}"
        />
      </div>
      <div class="w-full">
        <div class="text-lg font-semibold">{{ user.username }}</div>
        <!-- <span class="text-gray-500">Pick me at 9:00 Am</span> -->
      </div>
    </div>
    {% endfor %}
    <div class="flex flex-row py-2 px-2 items-center border-b-2">
      <!-- some empty border -->
    </div>
  </div>
  <div class="w-full px-5 flex flex-col justify-between">
    <div id="mainMessageField" class="flex flex-col mt-5">

      <div id="displayedMessages">
      <!-- Chat Messages -->
      {% for message in messages %}
        {% if message.sender.username == user.username %}
          <div class="flex justify-end mb-4">
            <div class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white">
              {{ message.content }}
            </div>
            {% if message.sender.profile.avatar %}
              <img src="{{ message.sender.profile.avatar.url }}" class="object-cover h-8 w-8 rounded-full" alt="{{ message.sender.username }}" />
            {% else %}
              <img src="/media/avatars/default-avatar.jpg" class="object-cover h-8 w-8 rounded-full" alt="Default Avatar" />
            {% endif %}
          </div>
        {% else %}
          <div class="flex justify-start mb-4">
            {% if message.sender.profile.avatar %}
              <img src="{{ message.sender.profile.avatar.url }}" class="object-cover h-8 w-8 rounded-full" alt="{{ message.sender.username }}" />
            {% else %}
              <img src="/media/avatars/default-avatar.jpg" class="object-cover h-8 w-8 rounded-full" alt="Default Avatar" />
            {% endif %}
            <div class="ml-2 py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white">
              {{ message.content }}
            </div>
          </div>

        {% endif %}
      {% endfor %}
    </div>


    <!-- sample message field start -->
          <div id="sampleDisplayedMessages" class="flex justify-end mb-4" style="display:none;">
            <div class="sdmContent mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white">
            </div>
              <img src="#" class="object-cover h-8 w-8 rounded-full" alt="#" />
          </div>
    <!-- sample message field end -->



      <div class="py-5 px-4">
        <div class="flex flex-col">
          <input
          class="w-full text-sm font-medium text-gray-600 bg-gray-50 rounded-xl border border-gray-300 focus:ring-blue-500 focus:border-blue-500 focus:outline-none dark:bg-gray-300 dark:border-gray-300 dark:placeholder-gray-300 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 py-5 px-3"
          id="message-input-field"
          type="text" 
          placeholder="type your message here..."/>
          
          <!-- send button -->
          <div class="flex justify-end mt-3">
            <button id="send-message" type="button" class="bg-[rgb(59_130_246)] text-white hover:bg-[rgb(37,99,235)] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
              Send
            </button>
          </div>
        </div>
    </div>
  </div>
</div>
</div>
  </body>
  <script>
      document.addEventListener("DOMContentLoaded",function(){
        username = document.getElementById("authuser").textContent
        send_message_button = document.getElementById("send-message")

        // send message function
        send_message_button.addEventListener("click", function(){
          content = document.getElementById("message-input-field").value
          document.getElementById("message-input-field").value = ""
          csrftoken = document.getElementById('csrf-token').content

          const fetchUrl ='http://127.0.0.1:8000/messages/send'
          const data = {
            'username': username,
             'content': content, 
          };
        fetch(fetchUrl,
          {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify(data)
          }
        )
        .then(response => response.json())
        .then(data => displayMessages())
        .catch(error =>{
          console.error('Error:', error);
        });
        })
        // end of send message function
        
        function displayMessages(){
          fetch('http://127.0.0.1:8000/messages/display',
          {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json',
            },
          }
        )
        .then(response => response.json())
        .then(data => showMessages(data))
        .catch(error =>{
          console.error('Error:', error);
        });
        }
        function showMessages(data){
          document.getElementById('displayedMessages').innerHTML = ''
          for (i = 0; i < data['data'].length ; i++ ){
            sampleDisplayedMessages = document.getElementById('sampleDisplayedMessages')
            messagesDiv = sampleDisplayedMessages.cloneNode(true);
            messagesDiv.querySelector('.sdmContent').innerHTML = data['data'][i]['content']
            messagesDiv.style.display = 'flex'
            // console.log(username)
            // console.log(data['data'][i]['sender__username'])

            if (document.getElementById("authuser").classList[0] != data['data'][i]['sender__username']){
              messagesDiv.classList.remove('justify-end')
              messagesDiv.classList.add('justify-start')
              messagesDiv.querySelector('.sdmContent').classList.remove('bg-blue-400')
              messagesDiv.querySelector('.sdmContent').classList.add('bg-gray-400')
              messagesDiv.querySelector('.sdmContent').classList.remove('mr-2')
              messagesDiv.querySelector('.sdmContent').classList.add('ml-2')
              // messagesDiv.classList.remove('justify-end')
              // messagesDiv.classList.add('justify-start')


            }



            document.getElementById('displayedMessages').appendChild(messagesDiv)
          }
        }
          setInterval(displayMessages, 10000)
    })
  </script>
</html>
