<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="output.css" />

    <title>chatapp</title>
  </head>
  <body>
    <!-- component -->
<!-- This is an example component -->
<div class="container mx-auto shadow-lg rounded-lg">
    <!-- headaer -->
<div class="px-5 py-5 flex justify-between items-center bg-white border-b-2">


  <div class="font-semibold text-2xl">LiveChat App</div>
  
  <div class="w-1/2">
    <input
      type="text"
      name=""
      id=""
      placeholder="search IRL"
      class="rounded-2xl bg-gray-100 py-3 px-5 w-full"
    />
  <!-- current div is  to move next div to right -->
   
  </div>
  <div id="active-user" class="flex items-center space-x-2">
    <!-- Avatar -->
    <div id="user-avatar" class="mr-2">
      <img
        src="https://avatar.iran.liara.run/public/8"
        class="object-cover h-12 w-12 rounded-full"
        alt="{{ user.username }}"
      />
    </div>
  
    <!-- Username -->
    <div id="#" class="text-gray-700 font-medium ml-1">
      {{ user.username }}
    </div>
  </div>

    <div class="flex justify-end mb-4">
      <form action="{% url 'authapp:logout' %}" method="post">
        {% csrf_token %}
        
        <button type="submit" class="text-red-700 hover:text-white border border-red-700 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-400 dark:focus:ring-red-700">
          Logout
        </button>
      </form>
    </div>

</div>
<!-- end header -->
<!-- Chatting -->
<div class="flex flex-row justify-between bg-white">
  <!-- chat list -->
  <div class="flex flex-col w-2/5 border-r-2 overflow-y-auto">

    <!-- user list -->
     {% for user in users %}
    <div
      class="flex flex-row py-4 px-2 justify-center items-center border-b-2"
    >
      <div class="w-1/4">
        <img
          src="https://avatar.iran.liara.run/public/8"
          class="object-cover h-12 w-12 rounded-full"
          alt="{{ user.username }}"
        />
      </div>
      <div class="w-full">
        <div class="text-lg font-semibold">{{ user.username }}</div>
        <!-- <span class="text-gray-500">Pick me at 9:00 Am</span> -->
      </div>
    </div>
    {% endfor %}
    <div class="flex flex-row py-2 px-2 items-center border-b-2">
      <!-- some empty border -->
    </div>
  </div>
  <div class="w-full px-5 flex flex-col justify-between">
    <div class="flex flex-col mt-5">
      <div class="flex justify-end mb-4">
        <div
          class="mr-2 py-3 px-4 bg-blue-400 rounded-bl-3xl rounded-tl-3xl rounded-tr-xl text-white"
        >
          Welcome to group everyone !
        </div>
        <img
          src="https://avatar.iran.liara.run/public/2"
          class="object-cover h-8 w-8 rounded-full"
          alt=""
        />
      </div>
      <div class="flex justify-start mb-4">
        <img
          src="https://avatar.iran.liara.run/public/8"
          class="object-cover h-8 w-8 rounded-full"
          alt=""
        />
        <div
          class="ml-2 py-3 px-4 bg-gray-400 rounded-br-3xl rounded-tr-3xl rounded-tl-xl text-white"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
          at praesentium, aut ullam delectus odio error sit rem. Architectos?
        </div>
      </div>
    </div>
      <div class="py-5 px-4">
        <div class="flex flex-col">
          <input
          class="w-full text-sm font-medium text-gray-600 bg-gray-50 rounded-xl border border-gray-300 focus:ring-blue-500 focus:border-blue-500 focus:outline-none dark:bg-gray-300 dark:border-gray-300 dark:placeholder-gray-300 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 py-5 px-3"
          id="message-input-field"
          type="text" 
          placeholder="type your message here..."/>
          
          <!-- send button -->
          <div class="flex justify-end mt-3">
            <button type="button" class="bg-[rgb(59_130_246)] text-white hover:bg-[rgb(37,99,235)] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
              Send
            </button>
          </div>
        </div>
    </div>
    <meta name="csrf-token" content="{{ csrf_token }}">
  </div>
</div>
</div>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded",function(){
      username = document.getElementById("username_input");
      submitButton = document.getElementById("submit_button");
      submitButton.addEventListener("click", function(){
      const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
 
        const fetchUrl ='http://127.0.0.1:8000/check/username'
        fetch(fetchUrl,
          {
            method: 'POST',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
              'X-CSRFToken': csrftoken,
            },
            body: new URLSearchParams({
              'input-username': username.value})
          }
        )
        .then(response => response.json())
        .then(data => {
          checkStatus(data);
        })
        .catch(error =>{
          console.error('Error:', error);
        } );

        usernameNotification = document.getElementById('username-notification')
        console.log(usernameNotification)

        function enableActiveUserField(loggedInUserName){
          console.log(loggedInUserName)
          // const activeUserField = document.getElementById('active-user');
          const userNameField = document.getElementById('user-name');
          const userImageField = document.getElementById('active-user-avatar');
          userNameField.textContent = loggedInUserName 
          userImageField.src = 'media/avatars/default.png'
          userImageField.removeAttribute('hidden')
        }
      }); 
    })
  </script>
</html>
